<section>
    <div class="row">
        <div class="container">
            <div class="forms">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="addItem" name="addItem" [(ngModel)]="addItem">
                    <label class="custom-control-label" for="addItem"> add new item</label><br>
                </div>

                <form enctype="multipart/form-data" *ngIf="!addItem" (ngSubmit)="updateDrink()" method="put">
                    <div>
                        <select class="custom-select" [(ngModel)]="selectedDrink.id" (ngModelChange)="changeDrink($event)" name="drinkId" >
                            <option *ngFor="let drink of drinks" [value]="drink.id">{{ drink.name }}</option>
                        </select> <br>
                        <img src="{{ selectedDrink.image }}" height="100px" width="60px" alt="img"> <br>
                        <input #chooseImg type="file" class="img-file-input"  (change)="handleFileInput($event.target.files, 'update')" 
                            accept="image/jpeg">
                        <input class="form-control" [ngModel]="selectedDrink.name" (ngModelChange)="selectedDrink.name = $event" name="drinkName" 
                            maxlength="25" size="40" value="{{ selectedDrink.name }}" placeholder="name">
                        <input class="form-control" [ngModel]="selectedDrink.cost" (ngModelChange)="selectedDrink.cost = $event" name="drinkCost"  
                            maxlength="25" size="40" value="{{ selectedDrink.cost }}" placeholder="cost">
                        <input class="form-control" [ngModel]="selectedDrink.amount" (ngModelChange)="selectedDrink.amount = $event" name="drinkAmount" 
                            maxlength="25" size="40" value="{{ selectedDrink.amount }}" placeholder="amount">
                        <input class="btn btn-secondary btn-update" type="submit" value="Update">
                    </div>
                </form>
                <div class="btn-delete">
                    <button *ngIf="!addItem" class="btn btn-secondary" (click)="deleteDrink(selectedDrink.id)">Delete</button>
                </div>
                <form enctype="multipart/form-data" *ngIf="addItem" (ngSubmit)="createDrink()" method="post">
                    <div>
                        <img src="{{ newDrink.image }}" height="100px" width="60px" alt="img"> <br>
                        <input #chooseImg type="file" class="img-file-input" (change)="handleFileInput($event.target.files, 'add')" 
                            accept="image/jpeg">
                        <input class="form-control" [ngModel]="newDrink.name" (ngModelChange)="newDrink.name = $event" name="drinkName" 
                            maxlength="25" size="40" value="{{ newDrink.name }}" placeholder="name">
                        <input class="form-control" [ngModel]="newDrink.cost" (ngModelChange)="newDrink.cost = $event" name="drinkCost"  
                            maxlength="25" size="40" value="{{ newDrink.cost }}" placeholder="cost">
                        <input class="form-control" [ngModel]="newDrink.amount" (ngModelChange)="newDrink.amount = $event" name="drinkAmount" 
                            maxlength="25" size="40" value="{{ newDrink.amount }}" placeholder="amount">
                        <input class="btn btn-secondary" type="submit" value="Add">
                    </div>
                </form>
            </div>
            <hr>
            <div>
                <p>In the machine has <input class="form-control coins" [ngModel]="machine.coins" (ngModelChange)="machine.coins = $event" name="coins" 
                    maxlength="10" size="12" value="{{ machine.coins }}" placeholder="coins"> coins</p>
                <div class="custom-control custom-checkbox">
                    <div>
                        <input type="checkbox" class="custom-control-input" id="oneCoin" name="oneCoin" [(ngModel)]="machine.oneCoin">
                        <label class="custom-control-label" for="oneCoin"> one coin</label>
                    </div>
                    <div>
                        <input type="checkbox" class="custom-control-input" id="twoCoin" name="twoCoin" [(ngModel)]="machine.twoCoin">
                        <label class="custom-control-label" for="twoCoin"> two coin</label>
                    </div>
                    <div>
                        <input type="checkbox" class="custom-control-input" id="fiveCoin" name="fiveCoin" [(ngModel)]="machine.fiveCoin">
                        <label class="custom-control-label" for="fiveCoin"> five coin</label>
                    </div>
                    <div>
                        <input type="checkbox" class="custom-control-input" id="tenCoin" name="tenCoin" [(ngModel)]="machine.tenCoin">
                        <label class="custom-control-label" for="tenCoin"> ten coin</label>
                    </div>
                </div>
                <div class="mt-3">
                    <button class="btn btn-secondary" (click)="machineSave()">Save</button>
                </div>
            </div>
            <hr>
            <div>
                <input #importJSON type="file" class="img-file-input json-file-input" (change)="handleFileInput($event.target.files, 'import')" 
                    accept="application/JSON">
            </div>
        </div>
    </div>
</section>
