.forms {
    margin-top: 1rem;
}

select {
    margin-top: 1rem;
}

label {
    margin-bottom: 0rem;
}

img {
    margin-top: 1rem;
}

input {
    margin-top: 1rem;
}

.btn:hover {
    cursor: pointer;
}

.forms {
    position: relative;
}

.img-file-input {
    color: transparent;
    opacity: 1;
  }

.img-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.img-file-input::before {
    content: 'Select some image';
    background: #6c757d;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 0.5rem 0.8rem;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-size: 12pt;
}

.img-file-input:hover::before {
    border-color: black;
}

.img-file-input:active {
    outline: 0;
}

.img-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

.json-file-input::before {
    content: 'Import drinks' !important;
}

.btn-delete {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.coins {
    display: inline;
    width: 10rem;
    color: black;
}
