<section>
    <div class="row">
        <div class="container">
            <p>In the machine has<input [ngModel]="machine.coins" (ngModelChange)="machine.coins = $event" name="coins" 
                maxlength="25" size="40" value="{{ machine.coins }}" placeholder="coins"> coins</p>
            <button (click)="machineCoinsSave()">Save</button>
        </div>
        <div class="container">
            <input type="checkbox" id="addItem" name="addItem" [(ngModel)]="addItem">
            <label for="addItem"> add new item</label><br>

            <form enctype="multipart/form-data" *ngIf="!addItem" (ngSubmit)="updateDrink()" method="put">
                <div>
                    <label>Choose a drink:</label>
                    <select [(ngModel)]="selectedDrink.id" (ngModelChange)="changeDrink($event)" name="drinkId" >
                        <option *ngFor="let drink of drinks" [value]="drink.id">{{ drink.name }}</option>
                    </select>
                    <br>
                    <img src="{{ selectedDrink.image }}" height="100px" width="60px" alt="img">
                    <br>
                    <input #chooseImg type="file" (change)="handleFileInput($event.target.files, 'update')" accept="image/jpeg">
                    <br>
                    <input [ngModel]="selectedDrink.name" (ngModelChange)="selectedDrink.name = $event" name="drinkName" 
                        maxlength="25" size="40" value="{{ selectedDrink.name }}" placeholder="name">
                    <br>
                    <input [ngModel]="selectedDrink.cost" (ngModelChange)="selectedDrink.cost = $event" name="drinkCost"  
                        maxlength="25" size="40" value="{{ selectedDrink.cost }}" placeholder="cost">
                    <br>
                    <input [ngModel]="selectedDrink.amount" (ngModelChange)="selectedDrink.amount = $event" name="drinkAmount" 
                        maxlength="25" size="40" value="{{ selectedDrink.amount }}" placeholder="amount">
                    <br>
                    <input type="submit" value="Update">
                </div>
            </form>

            <button *ngIf="!addItem" (click)="deleteDrink(selectedDrink.id)">Delete</button>

            <form enctype="multipart/form-data" *ngIf="addItem" (ngSubmit)="createDrink()" method="post">
                <div>
                    <img src="{{ newDrink.image }}" height="100px" width="60px" alt="img">
                    <br>
                    <input #chooseImg type="file" (change)="handleFileInput($event.target.files, 'add')" accept="image/jpeg">
                    <br>
                    <input [ngModel]="newDrink.name" (ngModelChange)="newDrink.name = $event" name="drinkName" 
                        maxlength="25" size="40" value="{{ newDrink.name }}" placeholder="name">
                    <br>
                    <input [ngModel]="newDrink.cost" (ngModelChange)="newDrink.cost = $event" name="drinkCost"  
                        maxlength="25" size="40" value="{{ newDrink.cost }}" placeholder="cost">
                    <br>
                    <input [ngModel]="newDrink.amount" (ngModelChange)="newDrink.amount = $event" name="drinkAmount" 
                        maxlength="25" size="40" value="{{ newDrink.amount }}" placeholder="amount">
                    <br>
                    <input type="submit" value="Add">
                </div>
            </form>


        </div>
    </div>
</section>
