<section>
    <div class="row">
        <div class="container">
            <form enctype="multipart/form-data" (ngSubmit)="updateDrink()" method="put">
                <label>Choose a drink:</label>
                <select [(ngModel)]="selectedDrink.id" (ngModelChange)="changeDrink($event)" name="drinkId">
                    <option *ngFor="let drink of drinks" [value]="drink.id">{{ drink.name }}</option>
                </select>
                <div>
                    <br>
                    <img src="{{ selectedDrink.image }}" height="100px" width="60px" alt="img">
                    <br>
                    <input type="file" name="img" accept="image/jpeg">
                    <br>
                    <input maxlength="25" size="40" value="{{ selectedDrink.name }}" placeholder="name">
                    <br>
                    <input maxlength="25" size="40" value="{{ selectedDrink.cost }}" placeholder="cost">
                    <br>
                    <input maxlength="25" size="40" value="{{ selectedDrink.amount }}" placeholder="amount">
                    <br>
                    <input type="submit" value="Update">
                </div>
            </form> 
        </div>
    </div>
</section>
